# TemporaShop

# Web app
SECRET_KEY=change-me-to-a-random-secret-key
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SITE_URL=http://localhost:8000

# Database
DATABASE_URL=sqlite:///./data/tempora.db

# Stripe
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
